.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .profile-header {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  ion-avatar {
    width: 150px; /* Ajusta el tamaño deseado del círculo */
    height: auto; /* Asegúrate de que sea un círculo perfecto */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que la imagen se desborde del contenedor */
  
    img {
      width: 100%; /* La imagen ocupará todo el contenedor */
      height: 100%; /* Mantiene la proporción dentro del círculo */
      border-radius: 50%; /* Asegura que la imagen sea redonda */
      object-fit: cover; /* Ajusta la imagen sin deformarla */
    }
  }
  
  .profile-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: var(--ion-color-dark);
  }
  
  .profile-email, .profile-phone {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
    margin: 0.3rem 0;
  }
  
  .profile-options {
    width: 80%;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    ion-button {
      --min-height: 44px; // Altura reducida (original ~56px)
      margin-bottom: 6px; // Espacio entre items reducido
      border-radius: 10px;
      --background: var(--ion-color-light);
      display: flex;
      flex-direction: row;
      gap: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;

      &:active {
        transform: scale(0.95);
      }
      
      img {
        margin-left: 12px; // Ajusta este valor según necesites
        width: 20px; // Opcional: tamaño consistente para iconos
        height: 20px;
      }
      
      ion-label {
        font-size: 20px; // Tamaño de texto ligeramente reducido
        margin: 8px 0; // Margen vertical ajustado
        text-align: left;
      }
    }
  }

  .no-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
  
    ion-button {
      margin-top: 20px;
      max-width: 200px;
    }
  }

  
//Footer
#footer {
  position: fixed; 
  bottom: 0;       
  left: 0;         
  width: 100%;     
  z-index: 1000;   
}

p {
  margin-top: 0;
}