

  <ion-header [translucent]="true" id="main-content-perfil">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="font-weight: bold; text-align: center;">Perfil</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" style="font-size: 28px; margin-right: 15px; color: black;" routerLink="/notificaciones"></ion-icon>
        <ion-icon name="cart-outline" style="font-size: 28px; margin-right: 15px; color: black;"
          routerLink="/cart"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <div class="profile-header">
      <ion-avatar class="profile-avatar">
        <img src="https://i.pravatar.cc/150?img=5" alt="Foto de perfil">
      </ion-avatar>
      <h2 class="profile-name">Oscar Ivan Escamilla Guevara</h2>
      <p class="profile-email">oscar&#64;gmail.com</p>
      <p class="profile-phone">2711405858</p>
    </div>

    <ion-list class="profile-options">
      <ion-button>
        <img src="assets/icon/edit.svg" alt="">
        <ion-label>Información general</ion-label>
      </ion-button>

      <ion-button>
        <img src="assets/icon/location.svg" alt="">
        <ion-label>Cambiar dirección</ion-label>
      </ion-button>

      <ion-button>
        <img src="assets/icon/lock.svg" alt="">
        <ion-label>Cambiar contraseña</ion-label>
      </ion-button>

      <ion-button>
        <img src="assets/icon/logout.svg" alt="">
        <ion-label>Cerrar sesión</ion-label>
      </ion-button>
    </ion-list>
  </div>

</ion-content>

<ion-tab-bar slot="bottom" id="footer">
  <ion-tab-button tab="home" routerLink="/home">
    <ion-label>home</ion-label>
    <img src="assets/icon/home.svg" alt="Inicio">
  </ion-tab-button>
  <ion-tab-button tab="categorias" routerLink="/categorias">
    <ion-label>Categorias</ion-label>
    <img src="assets/icon/category.svg" alt="Categorias">
  </ion-tab-button>
  <ion-tab-button tab="favoritos" routerLink="/favoritos">
    <ion-label>Favoritos</ion-label>
    <img src="assets/icon/heart.svg" alt="Favoritos">
  </ion-tab-button>
  <ion-tab-button tab="perfil" routerLink="/perfil">
    <ion-label>Perfil</ion-label>
    <img src="assets/icon/user.svg" alt="Perfil">
  </ion-tab-button>
</ion-tab-bar>