<ion-content class="cart-content">
  <div class="background-overlay"></div>
  <div class="cart-container">
    <h1 class="cart-title">Carrito de Compras</h1>
    <ion-list>
      <ion-item *ngFor="let item of cartItems">
        <ion-thumbnail slot="start">
          <img [src]="item.imageUrl || 'assets/images/product-default.png'" alt="Imagen del producto" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p class="category">Categoría: {{ item.category }}</p>
          <p>{{ item.description }}</p>
          <p class="price">Precio: ${{ item.price }}</p>
          <p *ngIf="item.stock > 0" class="stock">Stock disponible: {{ item.stock }}</p>
          <p *ngIf="item.stock === 0" class="stock out-of-stock">Producto agotado</p>
        </ion-label>
        <ion-button fill="clear" color="danger" (click)="removeFromCart(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="decreaseQuantity(item)" [disabled]="item.quantity <= 1">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        <span class="quantity">{{ item.quantity }}</span>
        <ion-button fill="clear" (click)="increaseQuantity(item)" [disabled]="item.quantity >= item.stock">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="toggleFavorite(item)">
          <ion-icon [name]="item.favorite ? 'heart' : 'heart-outline'" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Mostrar dirección del usuario -->
    <div *ngIf="userAddress.street" class="user-address">
      <h4>Dirección de Envío</h4>
      <p>{{ userAddress.name}}</p>
      <p>{{ userAddress.street }} {{ userAddress.number }}</p>
      <p>{{ userAddress.postalCode }}</p>
      <p>{{ userAddress.phone }}</p>
      <p>{{ userAddress.email }}</p>
    </div>

    <!-- Resumen del carrito -->
    <div class="cart-summary">
      <h3>Total: ${{ getTotal() }}</h3>
      <ion-button expand="full" class="checkout-button" (click)="checkout()">Ingresar Dirección</ion-button>
      <ion-button expand="full" class="checkout-button" (click)="finalizarCompra()">Finalizar compra</ion-button>
    </div>
  </div>

  <!-- Modal para dirección de envío -->
  <ion-modal [isOpen]="showAddressModal" (ionModalDidDismiss)="showAddressModal = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Dirección de Envío</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="showAddressModal = false">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="userAddress.name" type="text" autocomplete="name">
            <ion-icon size="small" slot="start" name="person"></ion-icon>
          </ion-input>
        </ion-item>

        
        <ion-item>
          <ion-label position="floating">Calle</ion-label>
          <ion-input [(ngModel)]="userAddress.street" type="text" autocomplete="street-address">
            <ion-icon size="small" slot="start" name="home"></ion-icon> 
          </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Número</ion-label>
          <ion-input [(ngModel)]="userAddress.number" type="text" autocomplete="off">
            <ion-icon size="small" slot="start" name="pin"></ion-icon> 
          </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Código Postal</ion-label>
          <ion-input [(ngModel)]="userAddress.postalCode" type="text" (ionBlur)="onPostalCodeBlur()" autocomplete="postal-code">
            <ion-icon size="small" slot="start" name="mail"></ion-icon> 
          </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Municipio</ion-label>
          <ion-input [(ngModel)]="userAddress.municipio" type="text" [readonly]="true">
            <ion-icon size="small" slot="start" name="location"></ion-icon> 
          </ion-input>
        </ion-item>
      
        
        <ion-item>
          <ion-label position="floating">Ciudad</ion-label>
          <ion-input [(ngModel)]="userAddress.ciudad" type="text" [readonly]="true">
            <ion-icon size="small" slot="start" name="location-outline"></ion-icon> 
          </ion-input>
        </ion-item>
      
        
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [(ngModel)]="userAddress.phone" type="tel" autocomplete="tel">
            <ion-icon size="small" slot="start" name="call"></ion-icon> 
          </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="userAddress.email" type="email" autocomplete="email">
            <ion-icon size="small" slot="start" name="mail-open"></ion-icon> 
          </ion-input>
        </ion-item>
      
        <ion-button expand="full" (click)="saveAddress()">Confirmar Dirección</ion-button>
      </ion-content>
      
    </ng-template>
  </ion-modal>
</ion-content>
