//Footer
#footer {
    position: fixed; 
    bottom: 0;       
    left: 0;         
    width: 100%;     
    z-index: 1000;   
  }

  .img-rana {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajusta según necesites */
    
    img {
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }
  }

ion-item p {
  font-size: 30px;
  color: black;
}