  <ion-header [translucent]="true" id="main-content-favoritos">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="font-weight: bold; text-align: center;">Favoritos</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" style="font-size: 35px; padding-right: 15px;"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">
  
  
      
</ion-content>

<ion-tab-bar slot="bottom" id="footer">
  <ion-tab-button tab="home" routerLink="/home">
    <img src="assets/icon/home.svg" alt="Inicio">
    <ion-label>home</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="categorias" routerLink="/categorias">
    <img src="assets/icon/category.svg" alt="Categorias">
    <ion-label>Categorias</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="favoritos" routerLink="/favoritos">
    <img src="assets/icon/heart.svg" alt="Favoritos">
    <ion-label>Favoritos</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="perfil" routerLink="/perfil">
    <img src="assets/icon/user.svg" alt="Perfil">
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>