@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

//Footer
#footer {
  position: fixed; 
  bottom: 0;       
  left: 0;         
  width: 100%;     
  z-index: 1000;   
}


img {
    width: 80%;
    height: auto; /* 📌 Tamaño fijo */
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

/* 📌 Contenedor del Header */
header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-bottom: 4px;

  ion-icon {
    color: gold;
    margin-right: 4px;
    font-size: 20px;
  }

  span {
    font-size: 16px;
    color: #000000;
    font-family: sans-serif;
    margin-left: 2px;
  }
}

.price-container {
    display: flex;
    justify-content: space-between; /* Separa el precio y el corazón */
    align-items: center; /* Centra verticalmente */
    margin: 0 6px 0 6px;
    gap: 10px;
}
/* 📌 Texto con puntos suspensivos si es muy largo */
  
h3 {
  color: #050505;
  font-family: sans-serif;
  font-size: 22px;
  margin: 8px 6px 4px;
}

.favorite-icon {
  font-size: 50px;
  cursor: pointer;
  transition: color 0.3s;
  color: #000000;
}



h2 {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 700;
}

//Footer
#footer {
  position: fixed; 
  bottom: 0;       
  left: 0;         
  width: 100%;     
  z-index: 1000;   
}
  

ion-title {
  color: #000000;
  font-size: 18px;
  font-family: "Nunito", serif;
  text-align: center;
}
