ion-label {
  font-size: 12px;
  margin-top: 4px;
  transition: opacity 6s ease;
}

ion-tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//Footer
#footer {
  position: fixed; 
  bottom: 0;       
  left: 0;         
  width: 100%;     
  z-index: 1000;   
}

