ion-tab-bar{
  --border: none;
}

/*Oculta las tiquetas por defecto*/
.tab-label {
  display: none;
  display: none;
  font-size: 12px;
  margin-top: 4px;
  transition: opacity 6s ease;
}

ion-tab-button.tab-selected .tab-label {
  display: block;
  font-size: 12px;
  color: rgb(238, 0, 255);
  /* Cian neón */
  text-shadow: 0 0 5px rgb(187, 0, 255), 0 0 10px rgb(221, 0, 255);
  margin-top: 4px;
}



  
/* Muestra el label solo para la pestaña activa */
  ion-label.active {
    display: block;
    opacity: 1;
  }
  
  ion-tab-button {
    --color: #666;
    /* Color del icono no seleccionado */
    --color-selected: rgb(255, 255, 255);
    /* Color neón para icono seleccionado */
    background: transparent;
    transition: 0.3s ease-in-out;
  }

  /* Ajusta el tamaño de los iconos */
ion-tab-button img {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0 0 5px transparent);
  transition: filter 0.3s ease-in-out;
}

/* Efecto neón en el icono seleccionado */
ion-tab-button.tab-selected img {
  filter: drop-shadow(0 0 5px rgb(238, 0, 255)) drop-shadow(0 0 10px rgb(179, 0, 255));
}
  
  

  