<ion-content fullscreen>
  <div class="background-overlay">
    <div class="form-container">
      <p class="title">Iniciar sesión</p>
      <form class="login-form" (ngSubmit)="onLogin()">
        
        <ion-item [class.error]="emailInvalid && emailTouched">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-icon name="mail-outline" slot="start" size="large"></ion-icon>
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            name="email" 
            required
            (blur)="onFieldBlur('email')"
            (ngModelChange)="validateFields()" 
            aria-label="Correo electrónico"
            #emailInput="ngModel">
          </ion-input>
        </ion-item>
        
        <ion-item [class.error]="passwordInvalid && passwordTouched">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-icon 
            class="show-password" 
            [name]="passwordVisible ? 'lock-open-outline' : 'lock-closed-outline'" 
            (click)="togglePasswordVisibility()" 
            slot="start" size="large"></ion-icon>
            <ion-input 
              [(ngModel)]="password" 
              name="password" 
              [type]="passwordVisible ? 'text' : 'password'" 
              required
              (blur)="onFieldBlur('password')"
              (ngModelChange)="validateFields()" 
              aria-label="Contraseña"
              #passwordInput="ngModel">
            </ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" class="login-button"
        [disabled]="isLoading">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <span *ngIf="!isLoading">Iniciar sesión</span>
        </ion-button>        

      </form>
      
      <ion-button expand="full" class="google-login-button">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Iniciar sesión con Google
      </ion-button>
      
      <p class="forgot-password">
        <a href="#">Olvidé mi contraseña</a>
      </p>

      <p class="register-link">
        Aún no tienes una cuenta? <a routerLink="/register">Regístrate</a>
      </p>
    </div>
  </div>
</ion-content>