<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <form #formLogin="ngForm" (ngSubmit)="login(formLogin)">
    <ion-item>
      <ion-input name="email" [(ngModel)]="email" label="Correo electronico" labelPlacement="floating" placeholder="Enter text"required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" [(ngModel)]="password" label="Contraseña" labelPlacement="floating" placeholder="Enter text" required></ion-input>
    </ion-item>
    <ion-button type="submit">
      Iniciar sesion
    </ion-button>
  </form>
  <ion-text>
    <p>
      ¿No tienes cuenta?
      <a href="/register">Regístrate</a>
    </p>
  </ion-text>
  
</ion-content>
