<ion-col>
  <ion-card style="border-radius: 30px;">
    <img alt="Producto" [src]="productUrl" />
    <ion-card-header>
      <!-- Aquí agregamos la estrella y el número aleatorio -->
      <div class="rating">
        <ion-icon name="star"></ion-icon>
        <span>{{ randomNumber }} estrellas</span>
      </div>
      
      <h3>{{nombre}}</h3>
      <p>{{precio}}</p>
    </ion-card-header>

    <!-- Icono de corazón para favoritos -->
    <ion-icon name="heart" class="favorite-icon" (click)="addToFavorites()"></ion-icon>
  </ion-card>
</ion-col>