<ion-card (click)="navigateToDetail(nombre, precio, imageUrl, category, description)">
  <ion-icon name="cart-outline" class="cart-icon" (click)="addToCart(); $event.stopPropagation();"></ion-icon>
  <div class="image-container" >
    <img alt="Producto" [src]="imageUrl"/>
  </div>
  <div>
    <div class="rating">
      <ion-icon name="star"></ion-icon>
      <span>{{ randomNumber }}</span>
    </div>

    <h3>{{ nombre }}</h3>
    <p class="category">{{ category }}</p>
    <p>{{ precio }}</p>
  </div>

  <p>{{ description }}</p>
  <ion-icon 
    [name]="isFavorite ? 'heart' : 'heart-outline'" 
    class="favorite-icon" 
    [style.color]="isFavorite ? '#ff0000' : '#000000'"
    (click)="toggleFavorite(); $event.stopPropagation()">
  </ion-icon>
</ion-card>
