<ion-card (click)="navigateToDetail(nombre, precio, productUrl)">
  <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
  <div class="image-container" >
    <img alt="Producto" [src]="productUrl" />
  </div>
  <div class="description">
    <div class="rating">
      <ion-icon name="star"></ion-icon>
      <span>{{ randomNumber }}</span>
    </div>

    <h3>{{ nombre }}</h3>
    <p class="category" style="font-size: 15px;">{{ category }}</p>
    <p>{{ precio }}</p>
  </div>

  <ion-icon name="heart" class="favorite-icon" (click)="addToFavorites(); $event.stopPropagation();"></ion-icon>
</ion-card>
