<ion-content class="ion-padding" class="content-background">
  <div class="login-container">
    <div class="welcome-text">
      <div class="logo">
        <img src="assets/icon/logoms.svg" style="font-size: 20px;" alt="Logo">
      </div>
      <h1>Bienvenido de vuelta!</h1>
      <p>Lo mejor te espera, solo aqui en Maria's Store!</p>
    </div>
    
    <form>
      <ion-item class="custom-input">
        <ion-input placeholder="Ingresa nombre" maxlength="10"></ion-input>
      </ion-item>
      
      <ion-item class="custom-input">
        <ion-input [type]="passwordType" placeholder="Contraseña" maxlength="15">
        </ion-input>
        <img *ngIf="passwordType === 'password'" src="assets/icon/eye.svg" alt="Mostrar contraseña"
          (click)="togglePasswordVisibility()">
        <img *ngIf="passwordType === 'text'" src="assets/icon/eye_off.svg" alt="Ocultar contraseña"
          (click)="togglePasswordVisibility()">
      </ion-item>
      
      <div class="recovery-link">
        <ion-text color="medium">Recuperar contraseña</ion-text>
      </div>
      
      <ion-button expand="block" class="signin-button">
        Iniciar sesión
      </ion-button>
      
      <div class="divider">
        <span>O continua con</span>
      </div>
      
      <div class="social-buttons">
        <ion-button fill="outline" class="social-button">
          <img src="assets/images/google.png" alt="">
        </ion-button>
        <ion-button fill="outline" class="social-button">
          <img src="assets/images/facebook.png" alt="">
        </ion-button>
      </div>
      
      <div class="register-link">
        <ion-text color="medium">¿No tienes cuenta? <a href="/register">Registrate ahora</a></ion-text>
      </div>
    </form>
  </div>
</ion-content>