<ion-app>
   <!-- Menú lateral -->
   <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        
          <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu Content

        </ion-title>
        
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/home">
          <ion-label>Inicio</ion-label>
          <ion-icon name="home-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item routerLink="/pedidos">
          <ion-label>Pedidos</ion-label>
          <ion-icon name="cart-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item routerLink="/perfil">
          <ion-label>Perfil</ion-label>
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item routerLink="/favoritos">
          <ion-label>Favoritos</ion-label>
          <ion-icon name="heart-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item routerLink="/categorias">
          <ion-label>Categorias</ion-label>
          <ion-icon name="apps-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item routerLink="/notificaciones">
          <ion-label>Notificaciones</ion-label>
          <ion-icon name="notifications-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item routerLink="/configuracion">
          <ion-label>Configuración</ion-label>
          <ion-icon name="settings-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="categorias" routerLink="/categorias">
        <ion-icon name="duplicate-outline"></ion-icon>
        <ion-label>Categorias</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="favoritos" routerLink="/favoritos">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="perfil" routerLink="/perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
