<ion-content [fullscreen]="true" class="content-background">
  <div class="centered-container">
    <ion-card class="custom-card" style="border-radius: 20px;">
      <ion-img src="assets/images/chica.png" alt="Imagen 1"></ion-img>
    </ion-card>

    <div class="title">
      <h2>Con <span class="highlight">Maria’s Store</span></h2>
      <h2>encuentras <span class="highlight-blue">todo</span></h2>
      <p>Explora la gran oferta de productos que te ofrecemos y no te pierdas de las promociones</p>
    </div>

    <div class="buttons">
      <ion-button color="light" expand="block" routerLink="/sign-up">Registro</ion-button>
      <ion-button color="medium" expand="block" routerLink="/login">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>