  <!-- Página de inicio (home) -->
  
  <ion-header>
    <ion-toolbar color="primary" style="--ion-border-color: transparent;"> 
      <div style="display: flex; align-items: center; justify-content: space-around;">
        <img src="assets/images/LogoMariaStore.svg" style="width: 50px; height: auto; object-fit: cover; margin-left: 10px;">
        <h2 style="font-weight: bold; text-align: center; font-weight: 400;"><span style="color: #d15cf2;">Maria's</span> <span style="color: #5c9df2;"> Store</span></h2>
        
      </div>
      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" style="font-size: 35px; padding-right: 15px;"></ion-icon>
        <ion-icon name="cart-outline" style="font-size: 35px; padding-right: 15px;" routerLink="/carrito"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    

    <ion-content [fullscreen]="true">
      

        
      <div style="display: flex; align-items: center;">
        <ion-searchbar 
        animated="true" 
        placeholder="Buscar Producto" 
        style="flex-grow: 1; --border-radius: 20px;">
        </ion-searchbar>
      </div>

      <!-- Tarjeta imagen -->
      <ion-card style="border-radius: 20px;">
        <ion-img src="assets/images/imagen1.png" alt="Imagen de ejemplo"></ion-img>
      </ion-card>

      <!-- Categorias -->
      
      <ion-item>
        <div class="chip-container">
          <ion-scroll scrollX="true" class="chip-scroll">
            <app-item-chip
              *ngFor="let chip of chips"
              [chipUrl]="chip.chipUrl"
              [categoria]="chip.categoria"
              [chipColor]="chip.color"
              [textColor]="chip.textColor">
            </app-item-chip>

          </ion-scroll>
        </div>
      </ion-item>
      
      <h3 style="text-align: center; font-family: sans-serif; font-size: 25px; margin-top: 30px; font-weight: bold;">Productos</h3>

      <!-- Cards de productos -->
      <div class="product-container">
        <app-item-product
          *ngFor="let product of products"
          [productUrl]="product.productUrl"
          [nombre]="product.nombre"
          [precio]="product.precio"
          [category]="product.categoria"
          (click)="navigateToDetail(product)">
        </app-item-product>
      </div>
      
      
      <!--Cards de promoción-->
      <div class="card-container">
        <ion-card>
          <ion-img src="assets/images/imagenCard1.png" alt="Imagen de ejemplo"></ion-img>
        </ion-card>
        <ion-card>
          <ion-img src="assets/images/imagenCard2.png" alt="Imagen de ejemplo"></ion-img>
        </ion-card>
        <ion-card>
          <ion-img src="assets/images/imagenCard3.png" alt="Imagen de ejemplo"></ion-img>
        </ion-card>
      </div>

      <!-- Menú inferior -->
      <div id="footer" style="position: fixed; bottom: 0; left: 0; width: 100%; z-index: 1000;">
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home" routerLink="/home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="categorias" routerLink="/categorias">
            <ion-icon name="duplicate-outline"></ion-icon>
            <ion-label>Categorias</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="favoritos" routerLink="/favoritos">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Favoritos</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="perfil" routerLink="/perfil">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      
      </div>

    </ion-content>


