  <!-- Página de inicio (home) -->
  
  <ion-header>
    <ion-toolbar color="primary" style="--ion-border-color: transparent;"> 
      <div style="display: flex; align-items: center; justify-content: center; gap: 30px">
        <img src="assets/images/LogoMariaStore.svg" style="width: 50px; height: auto; object-fit: cover; margin-left: 10px;">
        <h2 style="font-weight: bold; font-weight: 700;"><span style="color: #d15cf2;">Maria's</span> <span style="color: #5c9df2;"> Store</span></h2>
        
      </div>
      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" style="font-size: 28px; padding-right: 15px;"></ion-icon>
        <ion-icon name="cart-outline" style="font-size: 28px; padding-right: 15px;" routerLink="/carrito"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    

    <ion-content [fullscreen]="true">
      
      <div style="display: flex; align-items: center;">
        <ion-searchbar 
        animated="true" 
        placeholder="Buscar Producto" 
        style="flex-grow: 1; --border-radius: 20px;">
        </ion-searchbar>
      </div>

      <!-- Tarjeta imagen -->
      <ion-card style="border-radius: 20px;">
        <ion-img src="assets/images/imagen1.png" alt="Imagen de ejemplo"></ion-img>
      </ion-card>

      <!-- Categorias -->
      
      <ion-item>
        <div class="chip-container">
          <ion-scroll scrollX="true" class="chip-scroll">
            <app-item-chip
              *ngFor="let chip of chips"
              [chipUrl]="chip.chipUrl"
              [categoria]="chip.categoria"
              [chipColor]="chip.color"
              [textColor]="chip.textColor">
            </app-item-chip>

          </ion-scroll>
        </div>
      </ion-item>
      
      

      <!-- Cards de productos -->
      <div class="product-container">
        <app-item-product
          *ngFor="let product of products"
          [productUrl]="product.productUrl"
          [nombre]="product.nombre"
          [precio]="product.precio"
          [category]="product.category"
          (click)="navigateToDetail(product)">
        </app-item-product>
      </div>
      
      
      <!--Cards de promoción-->
      <div class="card-container">
        <ion-card>
          <ion-img src="assets/images/imagenCard1.png" alt="Imagen de ejemplo"></ion-img>
        </ion-card>
        <ion-card>
          <ion-img src="assets/images/imagenCard2.png" alt="Imagen de ejemplo"></ion-img>
        </ion-card>
        <ion-card>
          <ion-img src="assets/images/imagenCard3.png" alt="Imagen de ejemplo"></ion-img>
        </ion-card>
      </div>

     
    </ion-content>

    <ion-tab-bar slot="bottom" id="footer">
      <ion-tab-button tab="home" routerLink="/home">
        <img src="assets/icon/home.svg" alt="Inicio">
        <ion-label>home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="categorias" routerLink="/categorias">
        <img src="assets/icon/category.svg" alt="Categorias">
        <ion-label>Categorias</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="favoritos" routerLink="/favoritos">
        <img src="assets/icon/heart.svg" alt="Favoritos">
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="perfil" routerLink="/perfil">
        <img src="assets/icon/user.svg" alt="Perfil">
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>


