<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Ingresa los siguientes datos: </h2>
  <div style="display: flex; justify-content: center; flex-direction: column;">
  <ion-item>
    <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingresa tu nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Apellidos" labelPlacement="floating" placeholder="Ingresa tus apellidos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Ingresa tu ciudad" labelPlacement="floating" placeholder="Ciudad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Correo electronico" labelPlacement="floating" placeholder="Ingresa tu correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" labelPlacement="floating" placeholder="Contraseña" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Confirma tu contraseña" labelPlacement="floating" placeholder="Confirma contraseña" required></ion-input>
  </ion-item>
</div>
  
</ion-content>
